<div class="row">
    <div class="col offset-l3 l6 offset-m2 m8 s12">
		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Send me reset password instructions" %>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %>
  </div>
</div>