You have been invited to a wine tasting party.

Party Name: <%= @party.name %>
Party Link: <%= @url %>
Party Date: <%= @party.event_date.strftime("%A %b %e, %Y") %>

To join, please use the above link to login or signup, then accept your invite!

Bring your smartphone!  You'll use this link to participate in the  wine tasting.

Enjoy your wine!