<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been invited to a wine tasting party.</h1>
    <p><b>Party Name: </b><%= link_to(@party.name,@url) %></p>
    <p><b>Party Date: </b><%= @party.event_date.strftime("%A %b %e, %Y") %></p>
    <p>To join, please use the above link to login or signup, then accept your invite!</p>
    <p>Bring your smartphone!  You'll use this link to participate in the  wine tasting.</p>
    <p>Enjoy your wine!</p>
  </body>
</html>