<div id="resultsModal" class="custom-results-modal">
  <span class="close cursor" onclick="closeResultsModal()">&times;</span>
  
  <div class="modalZoomIn">
    <a href="#" onclick="zoomModalContent(1.15, '.resultsSlides');"><img src="/images/magnify_in.png" alt="zoom in" /></a>
  </div>
  <div class="modalZoomOut">
    <a href="#" onclick="zoomModalContent(0.85, '.resultsSlides');"><img src="/images/magnify_out.png" alt="zoom out" /></a>
  </div>
  <div class="modal-content">
    
    <a class="prev" onclick="plusSlides(-1)">&#10094; Previous</a>
    <a class="next" onclick="plusSlides(1)">Next &#10095;</a>
    <p id="resultsSlideNumber" class="center-align">This should be center aligned</p>
    <div style="clear: both;"></div>
    
    <div class="resultsSlides">
      <h2>Presentation of Results: <%= @party.name %></h2>
      <h3>Get ready to find out who the winners & losers are from your party.</h3>
      <h4>Connect to a big screen!  Use the zoom buttons for best fit.</h4>
    </div>

    <% if @results["first_to_vote"]!=nil %>
      <div class="resultsSlides">
        <h2>"Eager Beaver Award": First to vote</h2>
        <a href="#" class="btn reveal-btn" onclick="revealContentAction('reveal-info-pane-1', this);">Show me!</a>
        <div id="reveal-info-pane-1" class="reveal-info-pane">
          <p class="reveal-name-emphasis" reveal_val="<%= @results["first_to_vote"]["name"].to_s %>">?????</p>
          <p class="reveal-supplement"><%= @results["first_to_vote"]["time"].in_time_zone(getUsersTimeZone()).strftime("%I:%M %p, %b %e") %></p>
          <p class="reveal-supplement">Scored:<%= @results["first_to_vote"]["score"].to_s %> for '<%= @results["first_to_vote"]["codename"].to_s %>'</p>
        </div>
      </div>
    <% end %>

    <% if @results["first_to_complete"]!=nil %>
      <div class="resultsSlides">
        <h2>"Veni, Vidi, Vici": First to try all wines</h2>
        <a href="#" class="btn reveal-btn" onclick="revealContentAction('reveal-info-pane-2', this);">Show me!</a>
        <div id="reveal-info-pane-2" class="reveal-info-pane">
          <p class="reveal-name-emphasis" reveal_val="<%= @results["first_to_complete"]["name"].to_s %>">?????</p>
          <p class="reveal-supplement"><%= @results["first_to_complete"]["time"].in_time_zone(getUsersTimeZone()).strftime("%b %e, %I:%M %p") %></p>
        </div>
      </div>
    <% end %>

    <% if @results["highest_own_vote"]!=nil %>
      <div class="resultsSlides">
        <h2>"My Child Is an Honor Roll Student": Highest vote for own wine</h2>
        <a href="#" class="btn reveal-btn" onclick="revealContentAction('reveal-info-pane-3', this);">Show me!</a>
        <div id="reveal-info-pane-3" class="reveal-info-pane">
          <%= render partial: "own_vote", locals: {own_vote_objs: @results["highest_own_vote"]} %>
        </div>
      </div>
    <% end %>
    
    <% if @results["lowest_own_vote"]!=nil %>
      <div class="resultsSlides">
        <h2>"I Secretly Hate My Own Child": Lowest vote for own wine</h2>
        <a href="#" class="btn reveal-btn" onclick="revealContentAction('reveal-info-pane-4', this);">Show me!</a>
        <div id="reveal-info-pane-4" class="reveal-info-pane">
          <%= render partial: "own_vote", locals: {own_vote_objs: @results["lowest_own_vote"]} %>
        </div>
      </div>
    <% end %>
    
    <% if @results["bottom_three"]!=nil %>
      <div class="resultsSlides">
        <h2>"Sorry, But Not Sorry. You're at the Bottom": Lowest rated wines</h2>
        <h4>In no particular order, bottom three are:</h4>
        <h5><%= [@results["bottom_three"]["third_last"]["name"],@results["bottom_three"]["second_last"]["name"],@results["bottom_three"]["last"]["name"]].shuffle.join(', ') %></h5>
        <a href="#" class="btn reveal-btn" onclick="revealContentAction('reveal-info-pane-5', this, 'bottom_three_2nd_btn');">Show 2nd Last!</a>
        <a href="#" id='bottom_three_2nd_btn' class="btn reveal-btn deferred_enablement" onclick="revealContentAction('reveal-info-pane-6', this);revealContentAction('reveal-info-pane-7', this)">Show Last!</a>
        <%= render partial: "rank_statistics2", locals: {ordinal: 'Last', rank_statistics_obj: @results["bottom_three"]["last"], reveal_info_pane_id: "reveal-info-pane-6"} %>
        <%= render partial: "rank_statistics2", locals: {ordinal: '2nd Last', rank_statistics_obj: @results["bottom_three"]["second_last"], reveal_info_pane_id: "reveal-info-pane-5"} %>
        <%= render partial: "rank_statistics2", locals: {ordinal: '3rd Last', rank_statistics_obj: @results["bottom_three"]["third_last"], reveal_info_pane_id: "reveal-info-pane-7"} %>
      </div>
    <% end %>
    
    <% if @results["top_three"]!=nil %>
      <div class="resultsSlides">
        <h2>"And the Winners Are...": Highest rated wines</h2>
        <h4>In no particular order, top three are:</h4>
        <h5><%= [@results["top_three"]["third"]["name"],@results["top_three"]["second"]["name"],@results["top_three"]["first"]["name"]].shuffle.join(', ') %></h5>
        <a href="#" class="btn reveal-btn" onclick="revealContentAction('reveal-info-pane-9', this, 'top_three_2nd_btn');">Show #2!</a>
        <a href="#" id='top_three_2nd_btn' class="btn reveal-btn deferred_enablement" onclick="revealContentAction('reveal-info-pane-8', this);revealContentAction('reveal-info-pane-10', this)">Show #1 & #3!</a>
        <%= render partial: "rank_statistics2", locals: {ordinal: '1st', rank_statistics_obj: @results["top_three"]["first"], reveal_info_pane_id: "reveal-info-pane-8"} %>
        <%= render partial: "rank_statistics2", locals: {ordinal: '2nd', rank_statistics_obj: @results["top_three"]["second"], reveal_info_pane_id: "reveal-info-pane-9"} %>
        <%= render partial: "rank_statistics2", locals: {ordinal: '3rd', rank_statistics_obj: @results["top_three"]["third"], reveal_info_pane_id: "reveal-info-pane-10"} %>
      </div>
    <% end %>
  </div>
</div>

<script>
    function openResultsModal() {
      showResultsSlides(slideIndex = 1);
      document.getElementById('resultsModal').style.display = "block";
      
      // For some reason all Switches have a high z-index and are visible
      $("div.switch").hide();
    }
    
    function closeResultsModal() {
      document.getElementById('resultsModal').style.display = "none";
      
      // For some reason all Switches have a high z-index and are visible
      $("div.switch").show();
    }
    // Also escape key will close the modal
    $(document).keyup(function(e) {
      if (e.keyCode == 27) { // escape key maps to keycode `27`
        closeResultsModal();
      } else if (e.keyCode == 37) { // left arrow
        plusSlides(-1);
      } else if (e.keyCode == 39) { // left arrow
        plusSlides(1);
      }
    });
    
    var slideIndex = 1;
    showResultsSlides(slideIndex);
    
    function plusSlides(n) {
      showResultsSlides(slideIndex += n);
    }
    
    function showResultsSlides(n) {
      var i;
      var slides = document.getElementsByClassName("resultsSlides");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      
      // Reset the slide content
      if (slides[slideIndex-1].getElementsByClassName("reveal-info-pane").length>0) {
        // Reset the styling for the reveal
        resetContentAction(slides[slideIndex-1]);
      }
      slides[slideIndex-1].style.display = "block";
      
      // Set the slide number
      $('#resultsSlideNumber').text(slideIndex + ' / ' + slides.length);
    }
    
    function revealContentAction(reveal_info_pane_id, invokingElementHandle, buttonToEnable_ID = null) {
      // Opposite of resetContentAction(), and animation for dramatic effect
      
      $('#' + reveal_info_pane_id).css('visibility', 'visible');
      $('#' + reveal_info_pane_id).css('background-color', 'white');
      
      $('#' + reveal_info_pane_id + ' .reveal-name-emphasis').css('color', 'white');
      $('#' + reveal_info_pane_id + ' .reveal-supplement').css('color', 'white');
      $('#' + reveal_info_pane_id + ' .reveal-supplement').css('visibility', 'visible');
      
      // Inject reveal values, which are stores as attribute
      revealElement = $('#' + reveal_info_pane_id + ' .reveal-name-emphasis')
      for (i = 0; i < revealElement.length; i++) {
        $(revealElement[i]).text( $(revealElement[i]).attr('reveal_val') );
      }
      
      $('#' + reveal_info_pane_id + ' .reveal-name-emphasis').css('background-color', 'transparent');
      
      // Disble the button
      $(invokingElementHandle).addClass("disabled");
      
      // Enable the next button
      if (buttonToEnable_ID != null) {
        $('#' + buttonToEnable_ID).removeClass("disabled");
      }
      
      $('#' + reveal_info_pane_id).stop().animate({backgroundColor:'#6a1b9a'}, 600);
    }
    
    function resetContentAction(resultSlide_handle) {
      // Opposite of revealContentAction()
      
      revealInfoPanes = resultSlide_handle.getElementsByClassName("reveal-info-pane")
      for (n = 0; n < revealInfoPanes.length; n++) {
        // Infiinite loop somewhere in here.
        
        reveal_info_pane_handle = revealInfoPanes[n]
        reveal_info_pane_id = reveal_info_pane_handle.id
        
        $('#' + reveal_info_pane_id).css('visibility', 'hidden');
        $('#' + reveal_info_pane_id + ' .reveal-supplement').css('visibility', 'hidden');
        revealElement = $('#' + reveal_info_pane_id + ' .reveal-name-emphasis');
        
        // Hide reveal values, which are stored as attributes
        for (i = 0; i < revealElement.length; i++) {
          revealElement.text('?????');
        }
        
        $('#' + reveal_info_pane_id + ' .reveal-name-emphasis').css('color', '#6a1b9a');
        $('#' + reveal_info_pane_id + ' .reveal-name-emphasis').css('background-color', 'white');
        $('#' + reveal_info_pane_id + ' .reveal-name-emphasis').css('visibility', 'visible');
      
      }
      
      // Enable the buttons
      revealPaneButtons = resultSlide_handle.getElementsByTagName("a");
      for (i = 0; i < revealPaneButtons.length; i++) {
        $(revealPaneButtons[i]).removeClass("disabled");
      }
      
      // Disable deferred buttons
      revealPaneButtons = resultSlide_handle.getElementsByClassName("deferred_enablement");
      for (i = 0; i < revealPaneButtons.length; i++) {
        $(revealPaneButtons[i]).addClass("disabled");
      }
    }
</script>