<ul class="collection">
    <li class="collection-item">
    	<p class="presentation_item_title">Scoring Profile by Wine - <a onclick="toggleContentByID('results-block-voting-breakdown')">show/hide</a></p>
		<div id="results-block-voting-breakdown" >
			<p style="margin-bottom:30px;">First to worst, with your vote highlighted</p>
		
			
			<% @voting_breakdowns.each_with_index do |voting_breakdown, indx| %>
				<%= render partial: "voting_breakdown2", object: voting_breakdown, locals: {indxx: indx} %>
			<% end %>
		</div>
	</li>
</ul>