<ul class="collection">
    <li class="collection-item">
        <p class="presentation_item_title">Final Averages - All Wines - <a onclick="toggleContentByID('results-block-chart')">show/hide</a></p>
        <div id="results-block-chart" >
            <div class="medlarge_display">
                <div id="uvhart_results_ordered"></div>
            </div>
            <p class="presentation_item_title">Full Rank List</p>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Score</th>
                        <th>Wine</th>
                    </tr>
                </thead>
                <tbody>
                    <% @results["final_averages"]["averages"].reverse.each_with_index do |avg,indx| %>
                        <tr>
                            <td>
                                <ul class="results_ordinal_column">
                                    <li><b><%= ActiveSupport::Inflector.ordinalize(indx+1) %></b></li>
                                    <li><b><%= avg %></b></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>"<%= @results["final_averages"]["codenames"].reverse[indx] %>"</li>
                                    <li><%= @results["final_averages"]["clearnames"].reverse[indx] %></li>
                                    <li><%= @results["final_averages"]["name"].reverse[indx] %></li>
                                    <% if current_user.id!=@party.user_id %>
                                        <li><b>Your Vote:</b> <%= @results["final_averages"]["own_vote"].reverse[indx] %></li>
                                        <li><b>Your Note:</b> <%= @results["final_averages"]["own_note"].reverse[indx] %></li>
                                    <% end %>
                                </ul>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </li>



</ul>


<script type="text/javascript" charset="utf-8">

var graphdef = {
    categories : ['Results'],
    dataset : {
        'Results' : [
        	<% @results["final_averages"]["averages"].reverse.each_with_index do |avg,indx| %>
        		{ name : '<%= @results["final_averages"]["codenames"].reverse[indx] %>', value : <%= avg %> },
        	<% end %>
        ]
    }
};
var graphConfig = {
    meta : {
        position : '#uvhart_results_ordered',
        hlabel : 'Score'
    },
    effects : {
        duration : 500,
        showhovertext : false
    },
    dimension : {
        width : 250,
        height : <%= 40*@results["final_averages"]["averages"].size %>
    },
    graph : {
        orientation : 'Horizontal'
    },
    legend : {
        showlegends : false
    },
    margin : {
        top : 15,
        bottom : 75,
        left : 120,
        right : 15
    },
    axis : {
        fontsize : 18,
        ticks : 5
    },
    scale : {
        ordinality : 0.2
    },
    label : {
        fontsize : 14
    }
};
var chart = uv.chart('Bar',graphdef,graphConfig);

</script>