<div id="socialDashboardModal" class="custom-results-modal">
    <span class="close cursor" onclick="closeDashboardModal()">&times;</span>
    
    <div class="modalZoomIn">
        <a href="#" onclick="zoomModalContent(1.15, '#socialDashboardContent');"><img src="/images/magnify_in.png" alt="zoom in" /></a>
    </div>
    <div class="modalZoomOut">
        <a href="#" onclick="zoomModalContent(0.85, '#socialDashboardContent');"><img src="/images/magnify_out.png" alt="zoom out" /></a>
    </div>
    
    <div class="modal-content">
        <span id="dashboard_banner" class="center-align"><%= "Social Dashboard : #{@party.name}" %></span>
        <select id="dashboard-freqq" class="form-control">
            <option value="5000" selected="selected">5 sec</option>
            <option value="8000">8 sec</option>
            <option value="10000">10 sec</option>
            <option value="30000">30 sec</option>
            <option value="60000">60 sec</option>
            <option value="90000">90 sec</option>
            <option value="120000">120 sec</option>
        </select>
        <span id="dashboard-countdown">3</span>
        <div style="clear: both;"></div>
        
        <div id="socialDashboardContent">
            <p id="dashboard_first_p">Get ready!...</p>
            <p id="dashboard_second_p">Plug your computer into a big screen so everyone can view the party comments!</p>
		</div>
    </div>
</div>

<script>
    $('#dashboard-freqq').css('display', 'inline');
    
    function openDashboardModal() {
        // Reset the intro content/guide
        $("#dashboard_first_p").html("Get ready!...");
        $("#dashboard_second_p").html("Plug your computer into a big screen so everyone can view the party comments!");
        
        // Set the modal display
        document.getElementById('socialDashboardModal').style.display = "block";
        
        // Countdown to when the dashboard starts cycling
        introSeconds = 10;
        dashBoardCountdown(introSeconds); 
        
        // Start it.
        startTheShow(introSeconds * 1000);
    }
    
    function closeDashboardModal() {
        document.getElementById('socialDashboardModal').style.display = "none";
        clearTimeout(dashboardTextTicketTimeout);
        clearTimeout(dashboardCountDownTimeout);
    }
    // Also escape key will close the modal
    $(document).keyup(function(e) {
      if (e.keyCode == 27) { // escape key maps to keycode `27`
        closeDashboardModal();
      }
    });
    
    function startTheShow(introMS) {
        clearTimeout(dashboardTextTicketTimeout);
        dashboardTextTicketTimeout = setTimeout(function(){ 
        	dashboardShoutAjax(<%= @party.id %>);
        }, introMS);
    }
</script>