<p><b>Place:</b> <%= ActiveSupport::Inflector.ordinalize(indxx+1) %>  (<%= voting_breakdown2[1]["average_score"] %>)</p>
<p><b>Wine:</b> <%= voting_breakdown2[1]["clearname"] %>;  "<%= voting_breakdown2[1]["codename"] %>"</p>
<div id="voting_breakdown_<%= voting_breakdown2[0] %>"></div>

<script type="text/javascript" charset="utf-8">

var graphdef = {
    categories : ['histogram_user_excluded','histogram_only_user'],
    dataset : {
        'histogram_user_excluded' : [
        	<% voting_breakdown2[1]["binned_scores_user_excluded"].each_with_index do |avg,indx| %>
        		{ name : <%= indx %>, value : <%= avg %> },
        	<% end %>
        ],
        'histogram_only_user' : [
            <% voting_breakdown2[1]["binned_scores_only_user"].each_with_index do |avg,indx| %>
                { name : <%= indx %>, value : <%= avg %> },
            <% end %>
        ]
    }
};
var graphConfig = {
    meta : {
        position : '#voting_breakdown_<%= voting_breakdown2[0] %>',
        hlabel : 'Score'
    },
    effects : {
        duration : 500,
        showhovertext : false
    },
    dimension : {
        width : 300,
        height : 80
    },
    graph : {
        orientation : 'Vertical'
    },
    legend : {
        showlegends : false
    },
    margin : {
        top : 15,
        bottom : 75,
        left : 30,
        right : 15
    },
    axis : {
        fontsize : 18,
        ticks : 5
    },
    scale : {
        ordinality : 0.2
    },
    label : {
        fontsize : 14
    }
};
var chart = uv.chart('StackedBar',graphdef,graphConfig);


</script>