<h2>Modify the Party</h2>

<%= form_for @party do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :event_date %>:
  <%= f.text_field :event_date %><br />

  <%= f.submit "Update" %>
<% end %>