<div class="row">
    <div class="col offset-l3 l6 offset-m2 m8 s12">
		<h2>Start your party here</h2>

		<%= form_for @party, url: party_index_path do |f| %>
		  <%= f.label :name %>:
		  <%= f.text_field :name %><br />

		  <%= f.label :event_date %>:
		  <%= f.text_field :event_date %><br />
		  
		  <%= f.label "Disguise theme (don't worry, you can change this later):" %>:
		  <%= f.select :disguise_theme_id, options_for_select(DisguiseTheme.all.collect{|disguiseTheme| [disguiseTheme.name, disguiseTheme.id]}, :selected => DisguiseTheme.first.id), {}, { :class => "browser-default" } %>

		  <%= f.submit "Create Party", :class => "btn" %>
		<% end %>
  </div>
</div>
