<div class="party_show_for_containers">

<div class="row">
	<div class="col s12 m12 l12">
		<h3><%= @party.name %></h3>
		<h5><%= @party.event_date.strftime("%b %d, %Y") %></h5>
		<% if current_user.id==@party.user_id && (@party.event_date < Time.now + 36.hours) %>
			<div id="party_concluded_switch" class="switch">
				<label>
					<span class="<%= @party.concluded ? 'switch_option_selected' : '' %>">Everyone's Done</span>
					<input type="checkbox">
					<span id="" class="lever" onclick="$('#party_conclude_flip_btn').click();"></span>
					<span class="<%= @party.concluded ? '' : 'switch_option_selected' %>">Tasting In Progress</span>
				</label>
			</div>
			<div style="display:none;">
				<%= form_for @party, method: :put, url: party_conclude_flip_path do |f| %>
					<%= f.hidden_field :concluded %>
					<%= f.button "conclude-flip, this button is always hidden", :id => "party_conclude_flip_btn" %>
				<% end %>
			</div>
			<p><%= link_to "Social Dashboard", "#", :onclick => "checkIfMobileWidthBeforeExec('To view the dashboard, log-on using a device with a larger display',openDashboardModal);" %></p>
			<% if !@party.concluded %>
				<p><a id="party_progress_link" href="#" onclick="getPartyStatus();">Check Everyone's Progress</a><span id="party_progress_text"></span></p>
				<!-- Modal Structure -->
				<div id="modal1" class="modal">
					<div class="modal-content">
						<span><a href="#!" class=" modal-action modal-close">(close)</a></span>
						<h5>How to have a successful party</h5>
						<p>Before the party</p>
						<ol>
							<li>Invite people by email address</li>
							<li>Your guests should accept the invite, and add their wine to the party</li>
						</ol>
						<p>Party time</p>
						<ol>
							<li>As people arrive, take their wine bottle to another room, disguise it (with brown bag or other), and label it with the disguise name we automatically assigned (found at the bottom of this page)</li>
							<li>Bring all your disguised bottles to the party room, tell people to refresh the web page and start voting</li>
							<li>Click the 'Social Dashboard' link to see what people are saying, and display it on a big screen if you have it</li>
							<li>Shout out a 5 min warning, and when it's time switch to "Everyones Done"</li>
							<li>Click 'Present Results' and show everyone</li>
							<li>Click 'Release Results' so everyone can view for themselves</li>
						</ol>
					</div>
					<div class="modal-footer">
						<a href="#!" class=" modal-action modal-close waves-effect waves-green btn">Got it!</a>
					</div>
				</div>
			<% end %>
			
			<% if !@party.concluded %>
				<p><a class="modal-trigger" href="#modal1">Need some help?</a></p>
			<% end %>
			<% if @party.concluded %>
				<div id="party_results_released_switch" class="switch">
					<label>
						<span class="<%= @party.results_released ? '' : 'switch_option_selected' %>">Results Hidden</span>
						<input type="checkbox">
						<span class="lever" onclick="$('#party_release_results_btn').click();"></span>
						<span class="<%= @party.results_released ? 'switch_option_selected' : '' %>">Results Released to Everyone</span>
					</label>
				</div>
				<div style="display:none;">
					<%= form_for @party, method: :put, url: results_released_flip_path do |f| %>
						<%= f.hidden_field :results_released %>
						<%= f.button "this button is always hidden", :id => "party_release_results_btn" %>
					<% end %>
				</div>
				
				<p><a href="#" onclick="checkIfMobileWidthBeforeExec('To access the results presentation mode, log-on using a device with a larger display',openResultsModal);">Present Results (this is fun!)</a></p>
				<%= render "results_presentation_modal" %>
				
				<p><%= link_to "View Results", party_view_results_path(@party.id) %></p>
			<% end %>
		<% elsif current_user.id==@party.user_id && (@party.event_date > Time.now + 36.hours) %>
			<p>The party is more than a day away.</p>
			<p>Your admin controls will appear here the day of the party.</p>
		<% elsif current_user.id!=@party.user_id && @party.results_released %>
			<h5><%= link_to "See Results!", party_view_results_path(@party.id) %></h5>
		<% end %>
	</div>
</div>

<script>
	<% if @party.concluded %>
		$('div#party_concluded_switch input').prop('checked', false);
	<% else %>
		$('div#party_concluded_switch input').prop('checked', true);
	<% end %>
	
	<% if @party.results_released %>
		$('div#party_results_released_switch input').prop('checked', true);
	<% else %>
		$('div#party_results_released_switch input').prop('checked', false);
	<% end %>
	
	<% if current_user.id==@party.user_id %>
		function getPartyStatus() {
			$("#party_progress_link").addClass('link-not-active');
			$.ajax({
				type: "GET",
				callback: "JSON",
				dataType: "json",
				url: '/party/' + <%= @party.id %> + '/get_status.json',
				success: function(msg) {
					// Present the status
					$("span#party_progress_text").hide();
					$("span#party_progress_text").text(msg.vote_completion + ' - ' + msg.current_number_votes + ' of ' + msg.max_number_votes + ' tastings complete');
					$("span#party_progress_text").fadeIn();
					setTimeout(function() { 
						$("span#party_progress_text").fadeOut(); 
						$("#party_progress_link").removeClass('link-not-active');
					}, 5000);
				},
				error: function(msg) {
					$("#party_progress_link").removeClass('link-not-active');
					alert( "Hmm, something went wrong." );
				}
			});
		}
	<% end %>
</script>

<% if current_user.id==@party.user_id %>
	<%= render partial: "social_dashboard" %>
<% end %>

<div class="row">
	<% if current_user.id==@party.user_id && !@party.concluded %>
		<div class="col s12 m12 l9">
			<h4>Send Invitations</h4>
			<table>
				<tbody>
					<tr>
						<%= form_for @invitation, url: party_invitation_index_path(@invitation), html: { method: :post }, remote: true do |f| %>
							<td id="invite_email_table_textfield">
								<%= f.text_field :email, :placeholder => "who@where.com" %>
								<%= f.hidden_field :party_id %>
							</td>
							<td id="invite_email_table_button">
								<%= f.button "Send", :class => "btn" %>
							</td>							
						<% end %>
					</tr>
				</tbody>
			</table>
			<div id="flash_partyinvite"></div>
			<ul class="collapsible" data-collapsible="accordion">
			    <li>
					<div id="pending_invites_header" class="collapsible-header">Pending Invitations (<%= @invitations.size %>)</div>
					<div class="collapsible-body">
						<div id="pending_invites">
							<ul><%= render partial: "invitelist", locals: {invitations: @invitations} %></ul>
						</div>
					</div>
			    </li>
			    <li>
					<div id="accpeted_invites_header" class="collapsible-header">Accepted (<%= @acceptees.size %>)</div>
					<div class="collapsible-body">
						<div id="accepted_invitees">
							<ul><%= render partial: "acceptees", locals: {acceptees: @acceptees} %></ul>
						</div>
					</div>
			    </li>
			</ul>
				
		</div>
	<% end %>
</div>
<% if !@party.concluded %>
	<div class="row">
		<div class="col s12 m12 l9">
			
		</div>
	</div>
	<div id="div_clearname_form" class="row">
		<div class="col s12 m12 l8">
			<h4>What wine did you bring?</h4>
			<% if current_user.id==@party.user_id %>
				<span>As the host, you can't vote.  But you can still submit a wine.</span>
			<% end %>
			<% if @entry.id.nil? %>
				<div id="register_reminder">
					<span style="font-weight:bold;">(You still need to add your wine bottle)</span>
				</div>
			<% end %>
			<input id="clearname_textfield2" type="text" class="browser-default" value="<%= @entry.clearname.nil? ? "" : @entry.clearname %>" placeholder="include name and year, ex. Cote du Rhone 2011" ></input>
			<div>
				<button id="clearname_submit_btn" name="button" type="button" class="btn btn-default disabled" onclick="submitEntryUpsert(<%= @entry.id.nil? ? "null" : @entry.id %>, <%= current_user.id %>, <%= @party.id %>)">Save</button>
				<button id="clearname_cancel_btn" name="button" type="button" class="btn btn-default disabled" onclick="reverUserEntryValue()">Cancel</button>
			</div>
		</div>
	</div>
	
	<script>
		previousClearname = "<%= @entry.clearname.nil? ? "" : @entry.clearname %>";
		$("#clearname_textfield2").keyup(function () { onEntryChange() });

		$(document).on('page:load ready', autoUpdateWineQuery());
	</script>
<% end %>

</div>
<div class="party_show_for_containers">
	<div class="row">
		<div id="shout_out_div" class="col s12 m12 l9">
			<h4>Give the Party a Shout!</h4>
			<%= form_for @shout, url: shout_create_path do |f| %>
				<%= f.hidden_field :user_id, id: "shout_user_id" %>
				<%= f.hidden_field :party_id, id: "shout_party_id" %>
				<%= f.text_area :content, :id => "shout_text_area", :class => "materialize-textarea", :placeholder => "say hi to the party!", :class => "browser-default"  %>
				<button id="shout_text_area_save" onclick="submitShoutOut()" type="button" class="btn btn-default disabled">Send!</button>
				<button id="shout_text_area_cancel" onclick="clearShoutOUt()" type="button" class="btn btn-default disabled">Cancel</button>
			<% end %>
		</div>
	</div>
</div>

<div class="party_show_for_containers">

<script>
	$("#shout_text_area").keyup(function () { onShoutChange() });
</script>


<div class="row">
	<% if current_user.id!=@party.user_id %>
		<div class="col s12 m12 l12">
			<h4>Rate (not rank) other wines here...</h4>
			<% if !@party.concluded %>
				<p>(alphabetical order)</p>
				<%= render partial: "vote_list_ajax", locals: {votes: @votes} %>
				<% if @votes.size==0 %>
					<p><i>No one has submitted an entry yet, hold tight!</i></p>
				<% end %>
			<% else %>
				<p><i>Voting has been closed by the host ...</i></p>
			<% end %>
			<% if @party.results_released %>
				<h5><%= link_to "See Results!", party_view_results_path(@party.id) %></h5>
			<% else %>
				<p><i>Results haven't been released, ... yet.</i></p>
			<% end %>
		</div>
	<% end %>

	<% if current_user.id==@party.user_id %>
		
		<div class="col s12 m12 l12">
			<h4>Wine Code Names</h4>
			<% if !@party.concluded %>
				<%= form_for @party, url: "/party/#{@party.id}" do |f| %>
					<div style="width:220px; float:left;">
					<%= f.select :disguise_theme_id, options_for_select(DisguiseTheme.all.collect{|disguiseTheme| [disguiseTheme.name, disguiseTheme.id]}, :selected => @party.disguise_theme_id), {}, { :class => "browser-default" } %>
					</div>
					<div style="float:left; margin-left:15px;">
					<%= f.submit "Change Theme", :class => "btn", data: { confirm: 'Are you sure you want to change the theme?  (The previous theme assignments will be lost.)' } %>
					</div>
					<div style="clear:both;">&nbsp;</div>
				<% end %>
			<% end %>
			<% if !@users_still_need_entries.nil? %>
				<h6>These people still need to add their wine to the party!</h6>
				<% @users_still_need_entries.each do |email| %>
					<p>&#8680; <%= email %></p>
				<% end %>
			<% end %>
			<%= render partial: "all_entries", locals: {all_entries: @all_entries} %>
		</div>
	<% end %>
</div>

<div class="row">
	<% if current_user.id==@party.user_id %>
		<div class="col s12 m12 l12">
			<h4>Delete <%= @party.name %></h4>
			<h5>(this is permanent)</h5>
			<%= link_to 'Delete',url_for(action: :destroy,id: @party.id),data: {confirm: "Are you sure?",method: :delete}, :class => "btn", :id => "delete-party-link" %>
		</div>
	<% end %>
</div>

</div>

<div id="footer-buffer"></div>

<div id="footer" class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col s6">
						<div class="footer-left-div">
							<h6>New party content!</h6>
						</div>
			</div>
			<div class="col s6">
				<div class="footer-right-div">
					<button class="btn btn-default" onclick="window.location.reload();">Refresh!</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).on('page:load ready', function() {
	    if ($('div.party_show_for_containers').width() > 992) {
	        $('div.party_show_for_containers').addClass('container');
	    }
	});
</script>


<% # Party page refresh logic: if the host has changed the state of the party, this will refresh the attendees' page %>
<script>
	currentPage = location.pathname
	partyConcluded = <%= @party.concluded %>
	partyResultsReleased = <%= @party.results_released %>
	partyNumberOfEntries = <%= @party.entries.where.not(disguise_id: nil).size %>
	partyPageStateCheckInterval = setInterval(function() {
		if (currentPage !== location.pathname) {
			// If not not on the party page anymore, clear the setInterval
			clearInterval(partyPageStateCheckInterval);
			return;
		}
		// This method will do the check AND perform down-stream actions.
		partyPageStateCheck(<%= @party.id %>);
	},<%= ENV["PARTY_PAGE_REFRESH_RATE"] %>)
</script>



