<div id="party_view_results">

<h3><%= link_to @party.name, @party %> > Results</h3>

<%= render "results_final_averages" %>

<%= render "results_voting_breakdown" %>

<ul class="collection">
  <li class="collection-item">
  	<p class="presentation_item_title">How Users Voted (e.g. "The average rating Tom gave was a 5.5") <a onclick="toggleContentByID('users_vote_pattern_table')">show/hide</a></p>
  	<div id="users_vote_pattern_table">
  		<% @user_averages.each do |userAvg| %>
  			<p><%= userAvg["average_score"].round(2) %> : <%= userAvg["email"] %></p>
  		<% end %>
  	</div>
  </li>
</ul>

</div>

<script>
	$(document).on('page:load ready', function() {
	    if ($('#party_view_results').width() > 992) {
	        $('#party_view_results').addClass('container');
	    }
	});
</script>