<div class="row">
	<div class="col offset-l3 l3 offset-m2 m4 s12">
		<%= image_tag("red-wine-glasses_f14u81PO_small.png", id: "static_page_graphic") %>
	</div>
	<div class="col l3 m4 s12">
		<% if !current_user.nil? %>
			<div class="start-party-div">
				<%= link_to "New Party!", new_party_path, :class => "btn-large start-party-text" %>
			</div>
		<% else %>
			<div class="card-panel">
				<span>Host a tasting party where your guests can rate each wine.  We'll help you find the wine you enjoy the most.</span>
			</div>
		<% end %>
	</div>
</div>


<% if !current_user.nil? %>
	<div class="row">
		<div class="col s12 m12 offset-l2 l8">
			<ul class="collapsible popout" data-collapsible="accordion">
				
				<li>
					<div class="collapsible-header" id="invitations_collapsible"><span class="collapsible-title">Invitations (<%= !@invites.nil? && @invites.any? ? @invites.size : "0" %>)</span></div>
					<div class="collapsible-body">
						<% if !@invites.nil? && @invites.any? %>
							<%= render partial: "outstandinginvites", locals: {invites: @invites} %>
						<% else %>
							<span>(sorry, nothing)</span>
						<% end %>
					</div>
				</li>

				<li>
					<div class="collapsible-header" id="upcoming_parties_collapsible"><span class="collapsible-title">Upcoming Parties (<%= !@upcoming_parties.nil? && @upcoming_parties.any? ? @upcoming_parties.size : "0" %>)</span></div>
					<div class="collapsible-body">
						<% if !@upcoming_parties.nil? && @upcoming_parties.any? %>
							<%= render partial: "hostedparties", locals: {hostedparties: @upcoming_parties} %>
						<% else %>
							<span>(sorry, nothing)</span>
						<% end %>
					</div>
				</li>

				<li>
					<div class="collapsible-header" id="previous_parties_collapsible"><span class="collapsible-title">Past Parties (<%= !@previous_parties.nil? && @previous_parties.any? ? @previous_parties.size : "0" %>)</span></div>
					<div class="collapsible-body">
						<% if !@previous_parties.nil? && @previous_parties.any? %>
							<%= render partial: "hostedparties", locals: {hostedparties: @previous_parties} %>
						<% else %>
							<span>(sorry, nothing)</span>
						<% end %>
					</div>
				</li>
				
			</ul>
		</div>
	</div>

<% else %>
	<div class="row">
		<div class="col offset-l2 l4 m12 s12">
			<div class="start-party-div">
				<%= link_to "Sign up!", "/users/sign_up", :class => "btn start-party-text" %>
			</div>
		</div>

		<div class="col l4 m12 s12">
			<div class="start-party-div">
				<%= link_to "Log In", "/users/sign_in", :class => "btn start-party-text" %>
			</div>
		</div>
	</div>
	<div id="vine_bg" class="row">
		<div class="col offset-l4 l4 offset-m3 m6 s12">
			<div class="front_page_description_text">
				<p>1) Start a party and invite your friends</p>
				<p>2) Disguise the wine</p>
				<p>3) Rate the wine</p>
				<p>4) Enjoy your wine</p>
			</div>
		</div>
	</div>
<% end %>