<div class="row">
    <div class="col s12 m12 offset-l3 l6">
        <h1>Account Settings</h1>
        <h4><%= current_user.email %></h4>
        
        <%= form_for current_user, :url => user_update_path(current_user.id), :method => :PUT do |f| %>
            <%= f.label :name %>:
            <%= f.text_field :name %><br />
            <%= f.label :email %>:
            <%= f.text_field :email %><br />
            <%= f.label :timezone %>
            <%= f.select :timezone, options_for_select(User.recognizedTimeZones.collect{|tz| [tz, tz]}, :selected => current_user.timezone), {}, { :class => "browser-default" } %>
            <%= f.submit "Update Account", :class => "btn" %>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 offset-l3 l6">
        <h4>Delete Account</h4>
        <h5>(this is permanent)</h5>
        <%= link_to 'Delete Account',user_destroy_path(action: :destroy,id: current_user.id),data: {confirm: "Are you sure?",method: :delete}, :class => "btn", :id => "delete-party-link" %>
    </div>
</div>