$('#pending_invites ul').html("<%= j (render partial: 'party/invitelist', locals: {invitations: @invitations}) %>");
$('#party_invitation_email').val('');
$("#flash_partyinvite").html("<%= j (render partial: 'application/flash_notices') %>")
$("#pending_invites_header").html("Pending Invitations (<%= @invitations.size %>)")