/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */
@import "materialize";
@import "present_results_modal";


input.btn, input.btn-small, input.btn-large, input.btn-flat {
	background-color: #6a1b9a;
	&:hover{
		background-color: #9b59b6;
	}
}

button.btn, button.btn-small, button.btn-large, button.btn-flat {
	background-color: #6a1b9a;
	&:hover{
		background-color: #9b59b6;
	}
}

a.btn, a.btn-small, a.btn-large, a.btn-flat {
	background-color: #6a1b9a;
	&:hover{
		background-color: #9b59b6;
	}
}

table.tight-table-td td {
	padding-top: 5px;
	padding-bottom: 5px;
}

@media (min-width: 601px) {
	//Corresponds to MaterializeCSS width for medium & large Devices (>600px)
	.small_display {
		display: none;
	}
}

@media (max-width: 600px) {
	//Corresponds to MaterializeCSS width for Mobile Devices (<=600px)
	.medlarge_display {
		display: none;
	}
}

#static_page_graphic {
	width: 180px;
	height: 180px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

div#vine_bg {  
    background: url(image-path('14274834105_560e645081_k_2.jpg')) no-repeat;
    background-size: 100%;
}

.front_page_description_text {
	font-size: 130%;
	font-weight: bold;
	color: white;
}

//Used for Striped tables and visual distinction
.spacer {
  height: 1px;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.link-not-active {
   pointer-events: none;
   cursor: default;
   color: gray;
}

#overall_footer {
	width: 100%;
	background-color: #6a1b9a;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	a {
		color: white;
	}
}