#footer-buffer {
    height: 60px;
    // Initially no display
    display: none;
}
#footer {
    // Initially no display
    display: none;
    
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: #efd6f9;
   h6 {
       color: #6a1b9a;
   }
   .center-div {
       text-align: center;
   }
   .footer-right-div {
       padding-left: 5px;
   }
   .footer-left-div {
       text-align: right;
       padding-right: 5px;
   }
}