.start-party-div {
	text-align:center;
	margin:auto;
	margin-bottom: 20px;
}

.start-party-text {
	font-size: 200%;
}

.collapsible-title {
	font-size: 200%;
	font-weight: bold;
	margin: 50px;
}

.collapsible-body {
	margin: 8px;
}

@media (min-width: 601px) {
	//Corresponds to MaterializeCSS width for medium & large Devices (>600px)

}

@media (max-width: 600px) {
	//Corresponds to MaterializeCSS width for Mobile Devices (<=600px)
	.collapsible-title {
		font-size: 150%;
		font-weight: bold;
		margin: 0px;
	}
}