/* The Modal (background) */
.custom-results-modal {
  display: none;
  position: fixed;
  padding-top: 5vh; // Matches .modal-content
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #6a1b9a;
  * {
    background-color: #6a1b9a;
    color: white;
  }
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  height: 95vh; // Matches .custom-results-modal
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.cursor {
  cursor: pointer
}

.modalZoomIn {
  position: fixed;
  left: 0px;
  top: 120px;
  img {
    width: 40px;
    height: auto;
  }
}

.modalZoomOut {
  position: fixed;
  left: 0px;
  top: 180px;
  img {
    width: 40px;
    height: auto;
  }
}