// Place all the styles related to the Party controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.flash-alert {
	text-align: center;
	font-size: 180%;
	margin-top: 2px;
	border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

div.notice {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

div.error {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

div.success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

div.switch {
	label {
		font-size: 100%;
	}
	.switch_option_selected {
		color: black;
	}
}

span#party_progress_text {
	margin-left: 10px;
}

#party_show .row {
	margin-bottom: 45px;
}

.slightly_small_text {
	font-size: 80%;
}

.register_wine_table_textfield {
	width: 65%;
}

.register_wine_table_button {
	width: 35%;
}

#invite_email_table_textfield {
	width: 65%;
	padding-top: 1px;
	padding-bottom: 1px;
}

#invite_email_table_button {
	width: 35%;
}

.clearname_textfield_changed {
	background-color: #FFB2B2;
}

#social_dashboard {
	font-size: 200%;
}

#social_dashboard_div {
	padding-left: 20px;
	padding-right: 20px;
}

#dashboard-select-div {
	float: right;
}



#dashboard_textcontrol {
	font-size: 60%;
}

.vote_note_textarea {
	height: 5rem;
}

#shout_out_bg_div {
	//width: 100%;
	background-color: #6a1b9a;
}