

.present-results-row:after {
  content: "";
  display: table;
  clear: both;
}


/* The Modal (background) */
.custom-results-modal {
  display: none;
  position: fixed;
  padding-top: 5vh; // Matches .modal-content
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #6a1b9a;
  * {
    background-color: #6a1b9a;
    color: white;
  }
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  height: 95vh; // Matches .custom-results-modal
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.resultsSlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.prev {
  float:left;
}
.next {
  float:right;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  font-size: 12px;
  padding: 8px 12px;
  float:right;
}

.reveal-btn {
  border: 3px;
  border-style: solid;
  border-color: white;
}

.reveal-info-pane {
  visibility: hidden;
  padding-left: 4px;
  padding-right: 4px;
  * {
    color: white;
    background-color: transparent;
  }
}

.reveal-name-emphasis {
  font-size: 200%;
}

#presentResultsModalZoomIn {
  position: fixed;
  left: 0px;
  top: 120px;
  img {
    width: 40px;
    height: auto;
  }
}

#presentResultsModalZoomOut {
  position: fixed;
  left: 0px;
  top: 180px;
  img {
    width: 40px;
    height: auto;
  }
}
