#socialDashboardModal #dashboard_banner {
    font-size: 250%;
}

#socialDashboardContent p {
    font-size: 250%;
}

#dashboard-freqq {
    display: right;
    width: 100px;
    margin-left: 20px;
}

#dashboard-countdown {
	font-size: 220%;
	display: right;
    width: 50px;
    margin-left: 20px;
}