#voting_table td {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 601px) {
  //Corresponds to MaterializeCSS width for medium & large Devices (>600px)
  .vote_tr_div_col1 {
    float: left; 
    width: 20%;
  }
  .vote_tr_div_col2 {
    float: left;
    width: 15%;
  }
  .vote_tr_div_col3 {
    float: left;
    width: 65%;
  }
}

@media (max-width: 600px) {
  //Corresponds to MaterializeCSS width for Mobile Devices (<=600px)
  .vote_tr_div_col1 {
    float: left; 
    width: 50%;
  }
  .vote_tr_div_col2 {
    float: left;
    width: 50%;
  }
  .vote_tr_div_col3 {
    float: left;
    width: 100%;
  }
}

.ajax_submit_hidden {
	display: none;
}

@-webkit-keyframes fadeIt_success {
  0%   { background-color: #8CE68C; }
  100% { background-color: transparent; }
}
@-moz-keyframes fadeIt_success {
  0%   { background-color: #8CE68C; }
  100% { background-color: transparent; }
}
@-o-keyframes fadeIt_success {
  0%   { background-color: #8CE68C; }
  100% { background-color: transparent; }
}
@keyframes fadeIt_success {
  0%   { background-color: #8CE68C; }
  100% { background-color: transparent; }
}

.backgroundAnimated_success{    
    background-image:none !important;
    -webkit-animation: fadeIt_success 2.5s ease-in-out; 
       -moz-animation: fadeIt_success 2.5s ease-in-out; 
         -o-animation: fadeIt_success 2.5s ease-in-out; 
            animation: fadeIt_success 2.5s ease-in-out; 
}


@-webkit-keyframes fadeIt_failure {
  0%   { background-color: #FF3333; }
  100% { background-color: #F2F2F2; }
}
@-moz-keyframes fadeIt_failure {
  0%   { background-color: #FF3333; }
  100% { background-color: #F2F2F2; }
}
@-o-keyframes fadeIt_failure {
  0%   { background-color: #FF3333; }
  100% { background-color: #F2F2F2; }
}
@keyframes fadeIt_failure {
  0%   { background-color: #FF3333; }
  100% { background-color: #F2F2F2; }
}

.background_failure{    
    background-image:none !important;
    -webkit-animation: fadeIt_failure 3.5s ease-in-out; 
       -moz-animation: fadeIt_failure 3.5s ease-in-out; 
         -o-animation: fadeIt_failure 3.5s ease-in-out; 
            animation: fadeIt_failure 3.5s ease-in-out; 
}

.background_changes_made {
  background-color: #ffcccc;
}