.vote-entry-pane {
	/* To be removed after ajax work */
	float:left;
	padding: 5px;
}

.vote-entry-pane select {
	font-size: 170%;
	font-weight: bold;
	color: #6a1b9a;
}

.vote-entry-pane textarea {
	padding-top: 5px;
	padding-bottom: 5px;
}

.vote-entry-pane button {
	/* To be removed after ajax work */
	margin-right: 40px;
}

.vote-entry-ajax-pane button {
	display: none;
}

.score-text {
	font-size: 200%;
	font-weight: bold;
	color: #6a1b9a;
}