<table id="entry_disguise_table" class="striped tight-table-td" style="max-width: 600px;">
	<colgroup>
       <col span="1" style="width: 60%;">
       <col span="1" style="width: 40%;">
    </colgroup>
	<thead>
		<tr>
			<th>Wine</th>
			<th>Disguise</th>
		</tr>
	</thead>
	<tbody>
		<% all_entries.each do |entry| %>
			
			<tr>
				<td>
					<div ><%= entry.clearname %></div>
					<div ><%= entry.user.needs_name ? entry.user.email : entry.user.name %></div>
				</td>
				<td class="disguise_tr">
					<span><%= entry.codename %></span>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>