<table class="striped medlarge_display">
	<thead>
	  <tr>
	      <th>Party</th>
	      <th>Date</th>
	      <th>Host</th>
	  </tr>
	</thead>

	<tbody>
	<% hostedparties.each do |hostedparty| %>
	<tr>
		<td><%= link_to hostedparty.name, party_path(hostedparty)%></td>
		<td><%= hostedparty.event_date.strftime("%b %d, %Y") %></td>
		<td><%= hostedparty.user.email.casecmp(current_user.email)==0 ? "me!" : hostedparty.user.email %></td>
	</tr>
	<% end %>

	</tbody>
</table>

<table class="striped small_display">

	<tbody>
	<% hostedparties.each do |hostedparty| %>
	<tr>
		<td>
			<ul>
				<li><%= link_to hostedparty.name, party_path(hostedparty)%> (<%= hostedparty.event_date.strftime("%b %d, %Y") %>)</li>
				<li><b>Host:</b> <%= hostedparty.user.email.casecmp(current_user.email)==0 ? "me!" : hostedparty.user.email %></li>
			</ul>
		</td>
	</tr>
	<% end %>

	</tbody>
</table>