<table class="striped tight-table-td medlarge_display">
	<thead>
	  <tr>
	      <th>Party</th>
	      <th>Date</th>
	      <th>Host</th>
	      <th></th>
	  </tr>
	</thead>

	<tbody>

	<% invites.each do |invite| %>
		<tr>
			<td><%= invite.party.name %></td>
			<td><%= invite.party.event_date.strftime("%b %d, %Y") %></td>
			<td><%= invite.party.user.email %></td>
			<td>
				<%= form_tag party_invitation_accept_path(invite), method: 'put' do %>
				  <%= hidden_field_tag :party_id, invite.party.id %>
				  <%= submit_tag 'Accept', :class => "btn" %>
				<% end %>
			</td>
		</tr>
	<% end %>

	</tbody>
</table>

<table class="striped tight-table-td small_display">
	<tbody>
		<% invites.each do |invite| %>
			<tr>
				<td>
					<ul>
						<li><b><%= invite.party.name %></b> (<%= invite.party.event_date.strftime("%b %d, %Y") %>)</li>
						<li><b>From:</b> <%= invite.party.user.email %></li>
						<li>
							<%= form_tag party_invitation_accept_path(invite), method: 'put' do %>
							  <%= hidden_field_tag :party_id, invite.party.id %>
							  <%= submit_tag 'Accept', :class => "btn" %>
							<% end %>
						</li>
					</ul>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>