<% own_vote_objs.each do |own_vote_obj| %>
    <p class="reveal-name-emphasis" reveal_val="<%= "#{own_vote_obj["name"]} rated #{own_vote_obj["codename"]} a score of #{own_vote_obj["score"]}" %>">?????</p>
<% end %>