<div id="<%= reveal_info_pane_id %>" class="reveal-info-pane">
    <p class="reveal-name-emphasis" reveal_val="<%= "#{ordinal} - #{rank_statistics_obj['name']}  : '#{rank_statistics_obj["codename"]}' : #{rank_statistics_obj["clearname"]} : score #{rank_statistics_obj["score"]}" %>">?????</p>
</div>