
<table id="voting_table" class="striped tight-table-td">
	<tbody>
		<% votes.each do |vote| %>
			<tr>
				<%= form_for vote, url: vote_path(vote) do |f| %>
				<td id="vote_tr_<%= vote.id %>">
					<div class="vote_tr_div_col1">
						<span class="codename-display"><%= vote.entry.codename %></span>
					</div>
					<div class="vote_tr_div_col2 vote-entry-pane">
						<%= f.select :score, options_for_select( [["(n/a)", nil], ["10 (awesome)", 10], [9, 9], [8, 8], [7, 7], [6, 6], [5, 5], [4, 4], [3, 3], [2, 2], [1, 1], ["0 (crap)", 0]] ,vote.score), {}, :id => "vote_score_" + vote.id.to_s, :class => "browser-default" %>
					</div>
					<br class="small_display" style="clear: left;" />
					<div class="vote_tr_div_col3">
						<%= f.text_area :note, :id => "vote_note_" + vote.id.to_s, :placeholder => "Leave yourself some wine notes...", :class => "browser-default vote_note_textarea"  %>
						<button id="vote_save_btn_<%= vote.id %>" onclick="submitVoteChange(<%= vote.id %>)" type="button" class="btn btn-default disabled">Save</button>
						<button id="vote_cancel_btn_<%= vote.id %>" onclick="revertVoteChange(<%= vote.id %>)" type="button" class="btn btn-default disabled">Cancel</button>
					</div>
					<br class="medlarge_display" style="clear: left;" />
				</td>
				<% end %>
			</tr>
			<tr class="spacer"></tr>
			<script>
				//Ajax related, recrod the original value
				originalVoteScoreByID['<%= vote.id %>']="<%= vote.score %>";
				originalVoteNoteByID['<%= vote.id %>']="<%= vote.note %>";
				timeoutMap['vote_note_<%= vote.id %>'] = [];
				
				$("#vote_score_<%= vote.id %>").change(function () {onVoteChange(<%= vote.id %>)});
				$("#vote_note_<%= vote.id %>").keyup(function () {onVoteChange(<%= vote.id %>)});
			</script>
		<% end %>
	</tbody>
</table>